<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/template" id="article-template">
		<header><h2><%= title %></h2></header>
		<p><%= content %></h2></p>
		<footer><%= descr %><time><%= publishDate %></time></footer>
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
	<script src="init.js"></script>
	<script src="MainView.js"></script>
	<script src="PostView.js"></script>
	<script src="PostModel.js"></script>
	<script src="PostCollection.js"></script>
	<script src="run.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="">Главная</a></li>
				<li><a href="">Не главная</a></li>
				<li><a href="">Еще не главная</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			
		</section>
	</main>
	<aside>
		
	</aside>
	<footer>
		
	</footer>
</body>
</html>